/*ELIMINA MARGENES EL (*) ES EL SELECTOR UNIVERSAL */

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/*DA COLOR DE FONTO Y DE TEXTO*/
body {
    background: #DF6127;
    background-image: url("../IMAGES/wallpaper2.png");
    color: #FFF;
    font-family: 'Abel', sans-serif;
}

/*DA FORMATO AL CONTENDEDOR <DIV>*/
#contenedor {
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #000;
}



header {
  height: 150px;
  background-image: url("../IMAGES/elnevado.png"); 
  background-size: 1000px;
  background-position: center;
  margin-bottom: 5px;
 }

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    text-align: left;
    padding-top: 33px;
    margin-left: 50px;
    color: #FFF;
/* RELIEVE EN TEXTO CON TEXT - SHADOW !!!! :D   */;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

header h2 {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    color: #FFF;
  /*  line-height: 150px; */
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

header #cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

header #cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

header #cf img.top:hover {
  opacity:0;
}


/* ------------------------ MENU NAVEGACION ---------------*/

nav {
    height: 50px;
    padding-bottom: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 19px 19px;
    text-decoration: none;
}

/* COLOR DE FONDO PARA HOVER */
nav li a:hover {
    background-color: #111;
}



#noticias {
    width: 960px;
    height: 335px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px #000; 
}

/*------------ NOTICIAS EN TRES COLUMNAS ---------------- */
/*------- -> COVER <- PARA AJUSTAR A GRID ----------------*/

.container {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;
}

.box2 {
            background: url(http://elportalderecreo.com.ar/images/logos/politicos/poncho16.gif);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 5px;
            height: 350px;
}


.box1 {
            background: url(http://catamarcasintesis.com.ar/wp-content/uploads/2016/06/promo-porque-Catamarca-me-crece-en-la-sangre.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 5px;
           
}

.box3 {
            background: url(https://i2.wp.com/catamarcavirtual.com/wp-content/uploads/2018/07/RODOCROSITA-CONCURSO.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 5px;

}

/* -------------------- CONTENIDO  ----------------- */

.contenido {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: 5px;
}

.box-a {
            background: #193441;
            color: #fff;
            text-align: justify;
            padding: 5px;
}

.imgbody {
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}


.frame {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* --------------- AQUI VA CSS PARA RECETAS ------ PREGUNTAR SI CONVIENE UNA CSS POR HTML ----*/


.comidas {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 5px;
}

.box-b {
            background: #1A7364;
            color: #fff;
            text-align: justify;
            padding: 5px;
}

/*-------AQUÍ INICIA CCS RECETAS gastronomia.htm -----*/

#recetas {
    background: #22556e   ;/*#21618C;*/
    text-align: center;
}

#recetas hr {
    border-style: dashed;
    border-width: 1px;
    width: 300px;
}

#locro, #humita, #mote {
    background:#22556e;
   
 
}

/*----------- TEXTO VERTICUAL ---------*/
#locro h2, #humita h2, #mote h2{
    width:300px;
    height:30px;
    background:#4799b7;
    color:#fff;
    text-align:center;
    font-family: Arial;
    font-size:20px;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    transform:rotate(-90deg);
    position:relative;
    left:-135px;
    top:160px;
}

/*---------- TEXTO DE RECETA ------------------*/

#locro p, #humita p, #mote p{
    
    margin-left: 40px;
    font-family: Arial;
    color:#fff;
    font-size:15px;
    text-align:justify;
}


/*--------------- IMAGEN DE RESETA -------------*/

#locro img, #humita img, #mote img {
   
    float:right;
    margin-top: 0px;
}


/*-------------- LINKS DE INTERES ---------------*/
aside {
    width: 250px;
    height: 270px;
    background: #5c940d;
    float: right;
}

aside h2 {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.contenido ul {
    color: #FFF;
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
 }   

.contenido a:link {text-decoration:none; color: #FFF;} /* Link no visitado*/
.contenido a:visited {text-decoration:none; color:#FFF;} /*Link visitado*/
.contenido a:active {text-decoration:none; color:#FFF; } /*Link activo*/
.contenido a:hover {text-decoration:none; color:#FFF; text-shadow: 2px 2px 2px #000;  font-weight: bold;} /*mouse sobre el link*/



/* --------------- ESPACIO PARA LINKS DE INTERCAMBIO ----------------*/

#links {
   width: 100%;
   height: 200px;
}


#banner {
    display: block;
    background: url("http://i.picasion.com/pic88/01f78c12287f826d7f724b28f694576d.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 5px;
}

#banner2 {
    background: url("http://www.viveelritmodelpacifico.co/wp-content/themes/valle/img/logo.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
}

/*------------------- FORMULARIO -----------*/

#mc_embed_signup {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

#mce-EMAIL {
    margin-top: 10px;
    font-size: 15px;
}

.emailimage {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}
/*label {
    color: #FFF;
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #000;
    font-family:'Old Standard TT', serif;
}
 
form {
    margin:0 auto;
    width:400px;
    grid-column-start: 1;
    grid-column-end: 3; 

}
 
input, textarea {
    font-family:'Old Standard TT', serif;
    width: 380px;
    height: 27px;
    background: #000;
    border: 2px solid #f6f6f6;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    color: #ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}*/


  /*-------------- PIÉ DE PÁGINA ----------------*/

footer {
    background: #7B241C;
 }

footer h2 {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    font-style: italic;

}